header {
    text-align: center;
    background-color: grey;
}

h1{
    text-align: center;
    font-size : 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 6fr 1fr 10fr;
    grid-template-rows: 6fr 1fr 10fr;
    gap: 10px;
    align-items: center; 
    margin: 20px;
}

.styled-table {
    grid-column: 3 / 4;  
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    min-width: 300px;
    /* width: 80%; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #007BFF;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    grid-row: 1 / 2; 
    padding: 10px 15px;
    border: 1px solid #dddddd;
}

#imageTel {
    grid-column: 1 / 2;  
    grid-row: 1 / 2; 
    height: 540px;
    width: 270px;
    object-fit: contain; 
}



